<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <group ns="/gzworld">
    <param name="name" type="string" value="Rock Canyon Park" />
    <param name="tileserver" type="string" value="http://mt1.google.com/vt/lyrs=s&amp;x={x}&amp;y={y}&amp;z={z}" />
    <param name="latitude" type="double" value="40.267463" />
    <param name="longitude" type="double" value="-111.635655" />
    <param name="zoom" type="double" value="21" />
  </group>

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"    value="$(find gazebo_satellite)/worlds/satellite.world"/>
    <arg name="debug"         value="false"/>
    <arg name="gui"           value="true"/>
    <arg name="paused"        value="true"/>
    <arg name="use_sim_time"  value="true"/>
    <arg name="headless"      value="false"/>
    <arg name="verbose"       value="true"/>
  </include>

</launch>
