<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- Start Gazebo -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name"    value="$(find gazebo_satellite)/worlds/satellite.world"/>
    <arg name="debug"         value="false"/>
    <arg name="gui"           value="true"/>
    <arg name="paused"        value="true"/>
    <arg name="use_sim_time"  value="true"/>
    <arg name="headless"      value="false"/>
    <arg name="verbose"       value="true"/>
  </include>

</launch>
